@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Montserrat:wght@400;500;600;900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
//Variables
$loginBgColor: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
$dark: #374151;
$darker: #1f2937;
$darkest: #111827;
$grey: #6b7280;
$pink: #ec4899;
$purple: #8b5cf6;
$light: #eee;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

////Not Found Page Styling////////
.notfound-page {
  width: 100%;
  margin: 5% auto;
  text-align: center;

  img {
    margin: 15px 0;
  }

  h1 {
    font-size: 88px;
  }

  h3 {
    font-size: 39px;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
  }
}

.login-main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: $loginBgColor;
  .main {
    width: 350px;
    height: 500px;
    background: $pink;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
      no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;

    #chk {
      display: none;

      &:checked ~ .login {
        transform: translateY(-500px);
      }

      &:checked ~ .login label {
        transform: scale(1);
      }
      &:checked ~ .signup label {
        transform: scale(0.6);
      }
    }

    .signup {
      position: relative;
      width: 100%;
      height: 100%;
    }
    label {
      color: $light;
      font-size: 2.3em;
      justify-content: center;
      display: flex;
      margin: 60px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }
    input {
      width: 60%;
      height: 20px;
      background: $light;
      justify-content: center;
      display: flex;
      margin: 20px auto;
      padding: 10px;
      border: none;
      outline: none;
      border-radius: 5px;
    }
    button {
      width: 60%;
      height: 40px;
      margin: 10px auto;
      justify-content: center;
      display: block;
      color: $light;
      background: #573b8a;
      font-size: 1em;
      font-weight: bold;
      margin-top: 20px;
      outline: none;
      border: none;
      border-radius: 5px;
      transition: 0.2s ease-in;
      cursor: pointer;
      &:hover {
        background: #6d44b8;
      }
    }

    .login {
      height: 460px;
      background: $light;
      border-radius: 60% / 10%;
      transform: translateY(-180px);
      transition: 0.8s ease-in-out;
      label {
        color: #573b8a;
        transform: scale(0.6);
      }
    }
  }
}

.home-main {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: $dark;
  input,
  button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
  }

  header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    h1 {
      font-size: 2.5rem;
      font-weight: 300;
      color: $grey;
      margin-bottom: 1rem;
    }

    .new-todo-form {
      display: flex;
      .new-todo-input {
        flex: 1 1 0%;
        background-color: $darker;
        padding: 1rem;
        border-radius: 1rem;
        margin-right: 1rem;
        color: $light;
        font-size: 1.25rem;

        &::placeholder {
          color: $grey;
        }
      }
      .new-todo-submit {
        color: $pink;
        font-size: 1.25rem;
        font-weight: 700;
        background-image: linear-gradient(to right, $pink, $purple);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
          opacity: 0.8;
        }
        &:active {
          opacity: 0.6;
        }
      }
    }
  }
  main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    .todo-list {
      padding: 1rem;

      h2 {
        font-size: 1.5rem;
        font-weight: 300;
        color: $grey;
        margin-bottom: 1rem;
      }
      h3 {
        text-align: center;
        margin-top: 20px;
        background-color: $dark;
        font-size: 50px;
        padding: 10px;
        text-transform: capitalize;
        color: $pink;
        font-size: 1.25rem;
        font-weight: 700;
        background-image: linear-gradient(to right, $pink, $purple);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .todo-item {
        display: flex;
        justify-content: space-between;
        background-color: $darkest;
        padding: 1rem;
        border-radius: 1rem;
        margin-bottom: 1rem;

        .content {
          flex: 1 1 0%;

          .text {
            color: $light;
            font-size: 1.125rem;
            width: 100%;
            display: block;
            transition: 0.4s;
            &:not(:read-only) {
              color: $pink;
            }
          }
        }

        .actions {
          display: flex;
          margin: 0 -0.5rem;
          button {
            cursor: pointer;
            margin: 0 0.5rem;
            font-size: 1.125rem;
            font-weight: 700;
            text-transform: uppercase;
            transition: 0.4s;
            &:hover {
              opacity: 0.8;
            }
            &:active {
              opacity: 0.6;
            }
          }

          .edit {
            background-image: linear-gradient(to right, $pink, $purple);
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .delete {
            color: crimson;
          }
        }
      }
    }
  }
  .logout {
    i {
      color: $light;
      font-size: 50px;
      padding-left: 10px;
      padding-bottom: 10px;
      cursor: pointer;
    }
  }
}

.loading-spin-container {
  top: 40%;
  left: 50%;
  position: absolute;
  .loading-spin {
    border: 7px solid #f3f3f3;
    border-top: 7px solid #3f4d67;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
.button {
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
