@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Montserrat:wght@400;500;600;900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
$gradientColor: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

////Not Found Page Styling////////
.notfound-page {
  width: 100%;
  margin: 5% auto;
  text-align: center;

  img {
    margin: 15px 0;
  }

  h1 {
    font-size: 88px;
  }

  h3 {
    font-size: 39px;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
  }
}

.login-main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  .main {
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
      no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;

    #chk {
      display: none;

      &:checked ~ .login {
        transform: translateY(-500px);
      }

      &:checked ~ .login label {
        transform: scale(1);
      }
      &:checked ~ .signup label {
        transform: scale(0.6);
      }
    }

    .signup {
      position: relative;
      width: 100%;
      height: 100%;
    }
    label {
      color: #fff;
      font-size: 2.3em;
      justify-content: center;
      display: flex;
      margin: 60px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }
    input {
      width: 60%;
      height: 20px;
      background: #e0dede;
      justify-content: center;
      display: flex;
      margin: 20px auto;
      padding: 10px;
      border: none;
      outline: none;
      border-radius: 5px;
    }
    button {
      width: 60%;
      height: 40px;
      margin: 10px auto;
      justify-content: center;
      display: block;
      color: #fff;
      background: #573b8a;
      font-size: 1em;
      font-weight: bold;
      margin-top: 20px;
      outline: none;
      border: none;
      border-radius: 5px;
      transition: 0.2s ease-in;
      cursor: pointer;
      &:hover {
        background: #6d44b8;
      }
    }

    .login {
      height: 460px;
      background: #eee;
      border-radius: 60% / 10%;
      transform: translateY(-180px);
      transition: 0.8s ease-in-out;
      label {
        color: #573b8a;
        transform: scale(0.6);
      }
    }
  }
}

.home-main {
  width: 100%;
  display: flex;
  height: 100vh;
  justify-content: center;

  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(9, 9, 121, 1) 45%,
    rgba(0, 255, 248, 1) 100%
  );

  .content-main {
    width: 50%;
    background: white;
    height: 700px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 2px #ffffff;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      padding-top: 20px;
      span {
        cursor: pointer;
        i {
          font-size: 30px;
          transition: 0.4s;
        }

        &:hover {
          i {
            font-size: 40px;
          }
        }
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      padding: 10px;
      align-items: center;
      input {
        width: 80%;
        padding: 10px;
        margin-bottom: 20px;
        &::placeholder {
          text-align: center;
        }
      }

      .buttons {
        display: flex;
      }
    }

    .todolist {
      margin-top: 20px;
      padding: 0 40px;
      .todo-item-container {
        width: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: column;

        padding: 8px;
        word-wrap: break-word;
        .left {
          word-wrap: break-word;

          h1 {
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 4px;
          }
          p {
            margin-bottom: 6px;
            font-size: 14px;
          }
        }
        .right {
          h6 {
            font-weight: 100;
            margin-bottom: 5px;
          }
        }
        &:hover {
          background: rgb(235, 234, 229);
        }
      }
    }
  }
}

.loading-spin-container {
  top: 40%;
  left: 50%;
  position: absolute;
  .loading-spin {
    border: 7px solid #f3f3f3;
    border-top: 7px solid #3f4d67;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
.button {
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
